.content{
    border-radius: 5px;
    background-color: #b2cad1;
    padding: 20px;
}

.formstyle,#addPatient{
    border: 1px solid #ccc;
    background-color: rgb(239, 245, 247);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

.feat{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(116, 146, 155);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(123, 156, 226);
    color: aliceblue;
    cursor: pointer;
}

.feat:hover{
    background-color: rgb(60, 197, 202);
}

#surgical, #diapetes, #heartPred, #corona, #KidneyDiv, #coronaInOutDiv, #braintumourDiv, #BreastDiv, #AnemiaDiv{
    display: none;
}

#coronaLink, #tumourLink{
    font-size: 45px;
    justify-items: center;
    text-decoration: none;
}
#coronaLink:hover, #tumourLink:hover{
    color: rgb(32, 116, 119);
}

#imageLabel{
    font-size: larger;
    font-weight: bold;
    color: rgb(18, 25, 41);
}

#coronaRes{
    border: 1px solid #ccc;
    background-color: rgb(191, 231, 245);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
}

#selectedBanner{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 350;
    margin-left: 350px;
    justify-content: center;
}




#brainImage, #covidImage{
    width: 60%;
    height: 100%;
    padding-left: 35%;
    padding-right: 5%;
    text-align: center;
}



.patientAddArea{
    border: 1px solid #ccc;
    background-color: rgb(239, 245, 247);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


.optionPatiet{
    border: 1px solid #ccc;
    background-color: rgb(90, 188, 221);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 38%;
    margin-left: 38%;
    border-radius: 9%;
    color: rgb(226, 231, 235);
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
}
.optionPatiet:hover{
    background-color: rgb(95, 133, 204);
}

