
#signup{
    background-color: #d3d0d0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #334e57;
    font-size: 18px;
}

#signupHeader{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #334e57;
}

.fname, .lname, .email, .password, .confirm_password{
    width: 100%;
    padding: 12px 20px ;
    margin: 8px 0;
    border: 1px solid rgb(134, 132, 132);
    border-radius: 4px;
    box-sizing: border-box;
}

.fname:hover, .lname:hover, .email:hover, .password:hover, .confirm_password:hover{
    background-color: #95b2bb;
}


#sub{
    background: rgb(107, 132, 212);
    color: white;
    height: 50px;
    width: 150px;
    text-shadow: none;  
    border-radius: 20px; 
    border: inherit;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#sub:hover{
    background: rgb(191, 201, 231);
    color: rgb(75, 110, 124);
    border: #404c50;
}