{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block body %}
<div id="login">
    <p id="loginHeader">Log in into your account</p>
    <form action="" id="loginForm">
        <!--Email & Password-->
        <label for="email">Email</label> <br>
        <input type="text" class="email" placeholder="Enter your email"><br>
        <label for="password">Password</label> <br>
        <input type="password" class="password" placeholder="Enter your password"><br>
        <!--Submit Button-->
        <input type="submit" value="Log in" id="log">
    </form>
</div>
{% endblock %}