{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
<div id="signup">
    <form action="">
        <!--First name & Last name-->
        <label for="fname"></label> <br>
        <input type="text" class="fname" placeholder="Enter your first name"><br>
        <label for="lname"></label> <br>
        <input type="text" class="lname" placeholder="Enter your last name"><br>
        <!--Email & Password-->
        <label for="email"></label> <br>
        <input type="text" class="email" placeholder="Enter your email"><br>
        <label for="password"></label> <br>
        <input type="password" class="password" placeholder="Enter your password"><br>
        <!--Confirm Password-->
        <label for="confirm_password"></label> <br>
        <input type="password" class="confirm_password" placeholder="Confirm your password"><br>
        <!--Submit Button-->
        <input type="submit" value="Sign Up">
    </form>
</div>
{% endblock %}