{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}


{% block body %}
    <div class="account-head">
        <img src="{{ profile_image }}" alt="user image" id="currentUserImage">
        <hr>
        <h1>{{ current_user.first_name + " " + current_user.last_name }}</h1>
        <p>{{ current_user.email }}</p>
        <p><strong>Role :</strong> {{ current_user.userType }}</p>
        <p><strong>Department :</strong> {{ current_user.department }}</p>
    </div>
    {% if no_results %}
        <div id="defaultAccount">
            <h2>No results yet!</h2>
            <p>The results of services will appear here :)</p>
        </div>
    {% endif %}
    {% for result in results.items %}
        {% if result.user_id == current_user.id %}  
            <div class="account">
                <h2><a href="{{ url_for('result', result_id = result.id) }}">Your Results in {{ result.title }}</a></h2>
                <div>
                    <p>Date of submition : {{ result.date_posted.strftime('%Y-%m-%d-%H:%M:%S') }}</p>
                </div>
                <hr>
                <p id="result">{{ result }} <br></p>
                <hr>
                <div>
                    <p>Patient: {{ result.name }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% for page_num in results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if results.page == page_num %}
                <a class="btn btn-info mb-4 pagi" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4 pagi" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        .....
        {% endif %}
    {% endfor %}
    
{% endblock %}