{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}


{% block body %}
    <div class="account-head">
        <h1>{{ current_user.username }}</h1>
        <p>{{ current_user.email }}</p>
    </div>
    {% if no_results %}
        <div id="defaultAccount">
            <h2>No results yet!</h2>
            <p>The results of services will appear here :)</p>
        </div>
    {% endif %}
    {% for result in results %}
        {% if result.user_id == current_user.id %}  
            <div class="account">
                <h2><a href="{{ url_for('result', result_id = result.id) }}">Your Results in {{ result.title }}</a></h2>
                <div>
                    <p>Date of submition : {{ result.date_posted.strftime('%Y-%m-%d-%H:%M:%S') }}</p>
                </div>
                <hr>
                <p id="result">{{ result }} <br></p>
            </div>
        {% endif %}
    {% endfor %}
    
{% endblock %}