{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Servises.css') }}">
{% endblock %}


{% block body %}
    <div id="addPatient">
        <h3>Add Patient</h3>
        <hr>
        <div id="addPatientForm">
            <form action="", method="POST", enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.age.label(class="form-control-label") }}
                        {% if form.age.errors %}
                            {{ form.age(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.age.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.age(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.nationalID.label(class="form-control-label") }}
                        {% if form.nationalID.errors %}
                            {{ form.nationalID(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.nationalID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nationalID(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.Diabetes.label(class="form-control-label") }}
                        {% if form.Diabetes.errors %}
                            {{ form.Diabetes(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.Diabetes.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.Diabetes(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.blood_pressure.label(class="form-control-label") }}
                        {% if form.blood_pressure.errors %}
                            {{ form.blood_pressure(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.blood_pressure.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.blood_pressure(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.covid_19.label(class="form-control-label") }}
                        {% if form.covid_19.errors %}
                            {{ form.covid_19(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.covid_19.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.covid_19(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.patient_pic.label() }}
                        {{ form.patient_pic(class="form-control-file") }}
                        {% if form.patient_pic.errors %}
                            {% for error in form.patient_pic.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.blood_tests_pic.label() }}
                        {{ form.blood_tests_pic(class="form-control-file") }}
                        {% if form.blood_tests_pic.errors %}
                            {% for error in form.blood_tests_pic.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <hr>
                <p>Go to patients list from <a href="{{ url_for('patientslist') }}">here</a>.</p>
                
            </form>
        </div>
    </div>

{% endblock %}