{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}


{% block body %}
    <div id="patient">
        <h3>Patient info :</h3>
        <hr>
        <img src="{{ profile_image }}" alt="patient image" class="avatar">
        <hr>
        <div>
            <p>Name: {{ patient.name }}</p>
            <p>Age: {{ patient.age }}</p>
            <p>National ID: {{ patient.nationalID }}</p>
            <p>Date: {{ patient.date_entered.strftime('%Y-%m-%d-%H:%M:%S') }}</p>
        </div>
        <hr>
        <div>
            <h4 id="oral">Oral diagnosing</h4>
            <p>Diabetes: {{ patient.diabetes }}</p>
            <p>Blood presure: {{ patient.blood_presure }}</p>
            <p>Covid-19: {{ patient.covid_19 }}</p>
        </div>
        <hr>
        <p>Blood Tests :</p>
        <img src="{{ bloodTests }}" alt="Blood tests" class="blood-tests">
    </div>
{% endblock %}