{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}


{% block body %}
    <div>
        <div id="SearchBar">
            <form method="POST">
                {{ SearchForm.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ SearchForm.search.label(class="form-control-label") }}
                        {% if SearchForm.search.errors %}
                            {{ SearchForm.search(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in SearchForm.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ SearchForm.search(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ SearchForm.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            <div id="SearchResult">
                <!-- <p>{{ SearchResult }} </p> -->
                {% for i in range(0, SearchResultListLength) %}
                    <p id="PatientSearchResult">{{ SearchResultList[0] }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <hr>

        {% if no_results %}
            <div id="defaultPatientLists">
                <h2>No patients data here yet!</h2>
                <p>The data of patients will appear here!</p>
            </div>
        {% endif %}
        {% for patient in patients.items %}
            <div class="account">
                <h2><a href="{{ url_for('patient', patient_id = patient.id) }}">{{ patient.name }}</a></h2>
                <div>
                    <p>Date of adding : {{ patient.date_entered.strftime('%Y-%m-%d-%H:%M:%S') }}</p>
                </div>
                <hr>
                <p id="patinetresult">{{ patient }} <br></p>
            </div>
        {% endfor %}
        {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if patients.page == page_num %}
                    <a class="btn btn-info mb-4 pagi" href="{{ url_for('patientslist', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4 pagi" href="{{ url_for('patientslist', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            .....
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}