{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}


{% block body %}
    {% if no_results %}
        <div id="defaultPatientLists">
            <h2>No patients data here yet!</h2>
            <p>The data of patients will appear here!</p>
        </div>
    {% endif %}
    {% for patient in patients.items %}
        <div class="account">
            <h2><a href="{{ url_for('patient', patient_id = patient.id) }}">{{ patient.name }}</a></h2>
            <div>
                <p>Date of adding : {{ patient.date_entered.strftime('%Y-%m-%d-%H:%M:%S') }}</p>
            </div>
            <hr>
            <p id="patinetresult">{{ patient }} <br></p>
        </div>
    {% endfor %}
    {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if patients.page == page_num %}
                <a class="btn btn-info mb-4 pagi" href="{{ url_for('patientslist', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4 pagi" href="{{ url_for('patientslist', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        .....
        {% endif %}
    {% endfor %}
{% endblock %}