{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Servises.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}


{% block body %}
    <div class="content">
        <div>
            <p>Download the Excel template file from <a href="{{ url_for('static', filename='Excel/Excel.xlsx') }}" >here</a>.</p>
        </div>
        <hr>
        <div id="spans">
            <span class="feat" id="heart">Heart prediction</span>
            <span class="feat" id="diap">Diapets prediction</span>
            <span class="feat" id="surg">Surgical operation</span>
            <span class="feat" id="CoronaInOut">Covid-19 Pateint out?</span>
            <span class="feat" id="KidneySpan">Kidney prediction</span>
            <span class="feat" id="anemiaSpan">Anemia prediction</span>
            <span class="feat" id="breastSpan">Breast Cancer</span>
            <span class="feat" id="coronaSpan">Covid-19 prediction</span>
            <span class="feat" id="brainTumourSpan">Brain Tumour </span> 
        </div>
        <hr>
        <div id="default">
            <h1>No Service choosen!</h1>
        </div>
        <div id="surgical"  class="formstyle">
            <h4>Surgical Operations</h4>
            <p>in this section, we will decide is the patient ready for the operation or not?</p>
            <form method="POST">
                {{ form1.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form1.hemoglopen.label(class="form-control-label") }}
                        {% if form1.hemoglopen.errors %}
                            {{ form1.hemoglopen(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.hemoglopen.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.hemoglopen(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form1.whiteBlood.label(class="form-control-label") }}
                        {% if form1.whiteBlood.errors %}
                            {{ form1.whiteBlood(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.whiteBlood.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.whiteBlood(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form1.platelets.label(class="form-control-label") }}
                        {% if form1.platelets.errors %}
                            {{ form1.platelets(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.platelets.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.platelets(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form1.liver.label(class="form-control-label") }}
                        {% if form1.liver.errors %}
                            {{ form1.liver(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.liver.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.liver(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form1.kidney.label(class="form-control-label") }}
                        {% if form1.kidney.errors %}
                            {{ form1.kidney(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.kidney.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.kidney(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form1.fluidity.label(class="form-control-label") }}
                        {% if form1.fluidity.errors %}
                            {{ form1.fluidity(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form1.fluidity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form1.fluidity(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form1.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div id="diapetes" class="formstyle">
            <h4>Diapetes</h4>
            <p>in this section, we will decide is the patient Diapetic or not?</p>
            <form action="" method="POST">
                {{ form2.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form2.Fasting.label(class="form-control-label") }}
                        {% if form2.Fasting.errors %}
                            {{ form2.Fasting(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form2.Fasting.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.Fasting(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form2.After_Eating.label(class="form-control-label") }}
                        {% if form2.After_Eating.errors %}
                            {{ form2.After_Eating(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form2.After_Eating.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.After_Eating(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form2.Hours_After_Eating.label(class="form-control-label") }}
                        {% if form2.Hours_After_Eating.errors %}
                            {{ form2.Hours_After_Eating(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form2.Hours_After_Eating.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form2.Hours_After_Eating(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>            
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form2.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <!--Heart-->
        <div id="heartPred" class="formstyle">
            <h4>Heart Prdicition</h4>
            <p>in this section, we will predict heart disease problems</p>
            <form action="" method="POST">
                {{ form4.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form4.Age.label(class="form-control-label") }}
                        {% if form4.Age.errors %}
                            {{ form4.Age(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.Age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.Age(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.Sex.label(class="form-control-label") }}
                        {% if form4.Sex.errors %}
                            {{ form4.Sex(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.Sex.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.Sex(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.cp.label(class="form-control-label") }}
                        {% if form4.cp.errors %}
                            {{ form4.cp(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.cp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.cp(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.trestbps.label(class="form-control-label") }}
                        {% if form4.trestbps.errors %}
                            {{ form4.trestbps(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.trestbps.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.trestbps(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.chol.label(class="form-control-label") }}
                        {% if form4.chol.errors %}
                            {{ form4.chol(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.chol.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.chol(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.fbs.label(class="form-control-label") }}
                        {% if form4.fbs.errors %}
                            {{ form4.fbs(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.fbs.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.fbs(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.restecg.label(class="form-control-label") }}
                        {% if form4.restecg.errors %}
                            {{ form4.restecg(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.restecg.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.restecg(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.thalach.label(class="form-control-label") }}
                        {% if form4.thalach.errors %}
                            {{ form4.thalach(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.thalach.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.thalach(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.exang.label(class="form-control-label") }}
                        {% if form4.exang.errors %}
                            {{ form4.exang(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.exang.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.exang(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.oldpeak.label(class="form-control-label") }}
                        {% if form4.oldpeak.errors %}
                            {{ form4.oldpeak(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.oldpeak.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.oldpeak(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.slope.label(class="form-control-label") }}
                        {% if form4.slope.errors %}
                            {{ form4.slope(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.slope.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.slope(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.ca.label(class="form-control-label") }}
                        {% if form4.ca.errors %}
                            {{ form4.ca(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.ca.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.ca(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form4.thal.label(class="form-control-label") }}
                        {% if form4.thal.errors %}
                            {{ form4.thal(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form4.thal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form4.thal(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>                    
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form4.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div id="treatment">
            
        </div>
        <!--Corona-->
        <div id="corona" class="formstyle">
            <a title="Covid-19" href="{{ url_for('coronavirus') }}" id="coronaLink">Corona Prediction page form here!</a>
            <br>
            <a title="Covid-19" href="{{ url_for('coronavirus') }}">
                <img src="{{ url_for('static', filename='images/covid19.png') }}" alt="Covid-19" id="covidImage">
            </a>
        </div>
        <!--BrainTumour-->
        <div id="braintumourDiv" class="formstyle">
            <a title="Brain Tumour" href="{{ url_for('braintumour') }}" id="tumourLink">Brain Tumour Prediction page form here!</a>
            <br>
            <a title="Brain Tumour" href="{{ url_for('braintumour') }}">
                <img src="{{ url_for('static', filename='images/braintumour.png') }}" alt="Brain Tumour" id="brainImage">
            </a>
        </div>
        <!--Kidney-->
        <div id="KidneyDiv" class="formstyle">
            <h4>Kidney Prediction</h4>
            <p>in this section, we will detect the prediction or kidney state</p>
            <form action="" method="POST">
                {{ form5.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form5.Creatinin.label(class="form-control-label") }}
                        {% if form5.Creatinin.errors %}
                            {{ form5.Creatinin(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Creatinin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Creatinin(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.Creatinin_Clearance.label(class="form-control-label") }}
                        {% if form5.Creatinin_Clearance.errors %}
                            {{ form5.Creatinin_Clearance(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Creatinin_Clearance.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Creatinin_Clearance(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.Na.label(class="form-control-label") }}
                        {% if form5.Na.errors %}
                            {{ form5.Na(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Na.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Na(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.K.label(class="form-control-label") }}
                        {% if form5.K.errors %}
                            {{ form5.K(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.K.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.K(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.Cl.label(class="form-control-label") }}
                        {% if form5.Cl.errors %}
                            {{ form5.Cl(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Cl.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Cl(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.Blood_Urine_Nitrogen.label(class="form-control-label") }}
                        {% if form5.Blood_Urine_Nitrogen.errors %}
                            {{ form5.Blood_Urine_Nitrogen(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Blood_Urine_Nitrogen.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Blood_Urine_Nitrogen(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form5.Urea.label(class="form-control-label") }}
                        {% if form5.Urea.errors %}
                            {{ form5.Urea(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form5.Urea.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form5.Urea(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form5.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <!--Corona patien out from hospital?-->
        <div id="coronaInOutDiv" class="formstyle">
            <h4>Corona In or Out</h4>
            <p>in this section, we will detect the patient of Covid-19 can get out the hospital or not?</p>
            <form action="" method="POST">
                {{ form6.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form6.White_Blood_Cell.label(class="form-control-label") }}
                        {% if form6.White_Blood_Cell.errors %}
                            {{ form6.White_Blood_Cell(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form6.White_Blood_Cell.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form6.White_Blood_Cell(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form6.Erythrocyte_Sedimentation_Rate.label(class="form-control-label") }}
                        {% if form6.Erythrocyte_Sedimentation_Rate.errors %}
                            {{ form6.Erythrocyte_Sedimentation_Rate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form6.Erythrocyte_Sedimentation_Rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form6.Erythrocyte_Sedimentation_Rate(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form6.C_Reactive_Protein.label(class="form-control-label") }}
                        {% if form6.C_Reactive_Protein.errors %}
                            {{ form6.C_Reactive_Protein(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form6.C_Reactive_Protein.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form6.C_Reactive_Protein(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form6.Procalcitonin.label(class="form-control-label") }}
                        {% if form6.Procalcitonin.errors %}
                            {{ form6.Procalcitonin(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form6.Procalcitonin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form6.Procalcitonin(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form6.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <!--Anemia-->
        <div id="AnemiaDiv" class="formstyle">
            <h4>Anemia Prediction</h4>
            <p>in this section, we will prdict the result of Anemia test!</p>
            <form action="" method="POST">
                {{ form7.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form7.Sex.label(class="form-control-label") }}
                        {% if form7.Sex.errors %}
                            {{ form7.Sex(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form7.Sex.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form7.Sex(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form7.Red_Blood_Cell.label(class="form-control-label") }}
                        {% if form7.Red_Blood_Cell.errors %}
                            {{ form7.Red_Blood_Cell(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form7.Red_Blood_Cell.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form7.Red_Blood_Cell(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form7.White_Blood_Cell.label(class="form-control-label") }}
                        {% if form7.White_Blood_Cell.errors %}
                            {{ form7.White_Blood_Cell(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form7.White_Blood_Cell.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form7.White_Blood_Cell(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form7.Platelets.label(class="form-control-label") }}
                        {% if form7.Platelets.errors %}
                            {{ form7.Platelets(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form7.Platelets.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form7.Platelets(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form7.Hemoglobin.label(class="form-control-label") }}
                        {% if form7.Hemoglobin.errors %}
                            {{ form7.Hemoglobin(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form7.Hemoglobin.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form7.Hemoglobin(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form7.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <!--Breast Cancer-->
        <div id="BreastDiv" class="formstyle">
            <h4>Breast Cancer Prediction</h4>
            <p>in this section, we will use Logistic Regression model to predict Breast Cancer!</p>
            <form action="" method="POST">
                {{ form8.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form8.radius_mean.label(class="form-control-label") }}
                        {% if form8.radius_mean.errors %}
                            {{ form8.radius_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.radius_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.radius_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.texture_mean.label(class="form-control-label") }}
                        {% if form8.texture_mean.errors %}
                            {{ form8.texture_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.texture_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.texture_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.perimeter_mean.label(class="form-control-label") }}
                        {% if form8.perimeter_mean.errors %}
                            {{ form8.perimeter_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.perimeter_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.perimeter_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.area_mean.label(class="form-control-label") }}
                        {% if form8.area_mean.errors %}
                            {{ form8.area_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.area_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.area_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.smoothness_mean.label(class="form-control-label") }}
                        {% if form8.smoothness_mean.errors %}
                            {{ form8.smoothness_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.smoothness_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.smoothness_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.compactness_mean.label(class="form-control-label") }}
                        {% if form8.compactness_mean.errors %}
                            {{ form8.compactness_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.compactness_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.compactness_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concavity_mean.label(class="form-control-label") }}
                        {% if form8.concavity_mean.errors %}
                            {{ form8.concavity_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concavity_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concavity_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concave_points_mean.label(class="form-control-label") }}
                        {% if form8.concave_points_mean.errors %}
                            {{ form8.concave_points_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concave_points_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concave_points_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.symmetry_mean.label(class="form-control-label") }}
                        {% if form8.symmetry_mean.errors %}
                            {{ form8.symmetry_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.symmetry_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.symmetry_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.fractal_dimension_mean.label(class="form-control-label") }}
                        {% if form8.fractal_dimension_mean.errors %}
                            {{ form8.fractal_dimension_mean(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.fractal_dimension_mean.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.fractal_dimension_mean(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.radius_se.label(class="form-control-label") }}
                        {% if form8.radius_se.errors %}
                            {{ form8.radius_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.radius_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.radius_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.texture_se.label(class="form-control-label") }}
                        {% if form8.texture_se.errors %}
                            {{ form8.texture_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.texture_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.texture_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.perimeter_se.label(class="form-control-label") }}
                        {% if form8.perimeter_se.errors %}
                            {{ form8.perimeter_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.perimeter_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.perimeter_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.area_se.label(class="form-control-label") }}
                        {% if form8.area_se.errors %}
                            {{ form8.area_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.area_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.area_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.smoothness_se.label(class="form-control-label") }}
                        {% if form8.smoothness_se.errors %}
                            {{ form8.smoothness_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.smoothness_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.smoothness_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.compactness_se.label(class="form-control-label") }}
                        {% if form8.compactness_se.errors %}
                            {{ form8.compactness_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.compactness_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.compactness_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concavity_se.label(class="form-control-label") }}
                        {% if form8.concavity_se.errors %}
                            {{ form8.concavity_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concavity_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concavity_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concave_points_se.label(class="form-control-label") }}
                        {% if form8.concave_points_se.errors %}
                            {{ form8.concave_points_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concave_points_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concave_points_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.symmetry_se.label(class="form-control-label") }}
                        {% if form8.symmetry_se.errors %}
                            {{ form8.symmetry_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.symmetry_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.symmetry_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.fractal_dimension_se.label(class="form-control-label") }}
                        {% if form8.fractal_dimension_se.errors %}
                            {{ form8.fractal_dimension_se(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.fractal_dimension_se.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.fractal_dimension_se(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.radius_worst.label(class="form-control-label") }}
                        {% if form8.radius_worst.errors %}
                            {{ form8.radius_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.radius_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.radius_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.texture_worst.label(class="form-control-label") }}
                        {% if form8.texture_worst.errors %}
                            {{ form8.texture_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.texture_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.texture_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.perimeter_worst.label(class="form-control-label") }}
                        {% if form8.perimeter_worst.errors %}
                            {{ form8.perimeter_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.perimeter_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.perimeter_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.area_worst.label(class="form-control-label") }}
                        {% if form8.area_worst.errors %}
                            {{ form8.area_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.area_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.area_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.smoothness_worst.label(class="form-control-label") }}
                        {% if form8.smoothness_worst.errors %}
                            {{ form8.smoothness_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.smoothness_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.smoothness_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.compactness_worst.label(class="form-control-label") }}
                        {% if form8.compactness_worst.errors %}
                            {{ form8.compactness_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.compactness_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.compactness_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concavity_worst.label(class="form-control-label") }}
                        {% if form8.concavity_worst.errors %}
                            {{ form8.concavity_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concavity_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concavity_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.concave_points_worst.label(class="form-control-label") }}
                        {% if form8.concave_points_worst.errors %}
                            {{ form8.concave_points_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.concave_points_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.concave_points_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.symmetry_worst.label(class="form-control-label") }}
                        {% if form8.symmetry_worst.errors %}
                            {{ form8.symmetry_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.symmetry_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.symmetry_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form8.fractal_dimension_worst.label(class="form-control-label") }}
                        {% if form8.fractal_dimension_worst.errors %}
                            {{ form8.fractal_dimension_worst(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                            {% for error in form8.fractal_dimension_worst.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form8.fractal_dimension_worst(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <hr>
                <div class="form-group">
                    {{ form8.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/Servises.js') }}"></script>
{% endblock %}