{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Servises.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}


{% block body %}
<div class="content">
    <span class="feat" id="heart">Heart prediction</span>
    <span class="feat" id="diap">Diapets prediction</span>
    <span class="feat" id="surg">Surgical operation</span>
    <span class="feat" id="stay">Patient Treatment</span>
    <hr>
    <div id="default">
        <h1>No Service choosen!</h1>
    </div>
    <div id="surgical"  class="formstyle">
        <h4>Surgical Operations</h4>
        <p>in this section, we will decide is the patient ready for the operation or not?</p>
        <form method="POST">
            {{ form1.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form1.hemoglopen.label(class="form-control-label") }}
                    {% if form1.hemoglopen.errors %}
                        {{ form1.hemoglopen(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.hemoglopen.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.hemoglopen(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.whiteBlood.label(class="form-control-label") }}
                    {% if form1.whiteBlood.errors %}
                        {{ form1.whiteBlood(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.whiteBlood.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.whiteBlood(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.platelets.label(class="form-control-label") }}
                    {% if form1.platelets.errors %}
                        {{ form1.platelets(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.platelets.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.platelets(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.liver.label(class="form-control-label") }}
                    {% if form1.liver.errors %}
                        {{ form1.liver(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.liver.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.liver(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.kidney.label(class="form-control-label") }}
                    {% if form1.kidney.errors %}
                        {{ form1.kidney(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.kidney.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.kidney(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form1.fluidity.label(class="form-control-label") }}
                    {% if form1.fluidity.errors %}
                        {{ form1.fluidity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form1.fluidity.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.fluidity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form1.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div id="diapetes" class="formstyle">
        <h4>Diapetes</h4>
        <p>in this section, we will decide is the patient Diapetic or not?</p>
        <form action="" method="POST">
            {{ form2.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form2.Fasting.label(class="form-control-label") }}
                    {% if form2.Fasting.errors %}
                        {{ form2.Fasting(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form2.Fasting.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.Fasting(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form2.After_Eating.label(class="form-control-label") }}
                    {% if form2.After_Eating.errors %}
                        {{ form2.After_Eating(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form2.After_Eating.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.After_Eating(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form2.Hours_After_Eating.label(class="form-control-label") }}
                    {% if form2.Hours_After_Eating.errors %}
                        {{ form2.Hours_After_Eating(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form2.Hours_After_Eating.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.Hours_After_Eating(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form2.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!--Heart-->
    <div id="heartPred" class="formstyle">
        
    </div>
    <!--Patient Staying-->
    <div id="treatment" class="formstyle">
        <h4>Patient Staying or not</h4>
        <p>in this section, we will decide is the will stay in hospital or not or not?</p>
        <form action="" method="POST">
            {{ form3.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form3.Haematocrit.label(class="form-control-label") }}
                    {% if form3.Haematocrit.errors %}
                        {{ form3.Haematocrit(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Haematocrit.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Haematocrit(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Haemoglobins.label(class="form-control-label") }}
                    {% if form3.Haemoglobins.errors %}
                        {{ form3.Haemoglobins(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Haemoglobins.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Haemoglobins(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Erythrocyte.label(class="form-control-label") }}
                    {% if form3.Erythrocyte.errors %}
                        {{ form3.Erythrocyte(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Erythrocyte.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Erythrocyte(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Leucocyte.label(class="form-control-label") }}
                    {% if form3.Leucocyte.errors %}
                        {{ form3.Leucocyte(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Leucocyte.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Leucocyte(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Thrombocyte.label(class="form-control-label") }}
                    {% if form3.Thrombocyte.errors %}
                        {{ form3.Thrombocyte(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Thrombocyte.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Thrombocyte(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Age.label(class="form-control-label") }}
                    {% if form3.Age.errors %}
                        {{ form3.Age(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Age.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Age(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form3.Gender.label(class="form-control-label") }}
                    {% if form3.Gender.errors %}
                        {{ form3.Gender(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form3.Gender.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{ form3.Gender(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form3.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/Servises.js') }}"></script>
{% endblock %}