{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div id="excel">
        <div>
            <h3>Upload Excel File to store Patient data in the data base</h3>
            <p>Please follow the template <a href="{{ url_for('static', filename='Excel/Excel.xlsx') }}">here</a>, and fil all required cells.</p>
        </div>
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">                 
                    <div class="form-group">
                        {{ form.TheFile.label() }}
                        {{ form.TheFile(class="form-control-file") }}
                        {% if form.TheFile.errors %}
                            {% for error in form.TheFile.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div>
                    <p>{{ userResult }}</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}